.container {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto;
  grid-column-gap: 30px;
}

article {
  max-width: 1000px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    grid-template-columns: auto;
  }
}
