:root {
  --caps-letter-spacing: 1.2em;
  --body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --heading-font-family: 'IBM Plex Sans', sans-serif;
}
